# JWT
JWT_SECRET=juYZvXgEwKB6ERpb1gnpQ19IiyOiS/X3wFBUM6mCVEeaF+IE41fMY3EYhhdT76BS
mLYTCyXXR5zwyY72UjuHEQ==

# OpenAI
OPENAI_API_KEY=sua_chave_openai_aqui

# Google Cloud Storage
GOOGLE_CLOUD_PROJECT_ID=seu_projeto_id
GOOGLE_CLOUD_BUCKET_NAME=seu_bucket_name
GOOGLE_CLOUD_KEYFILE=./gcs-keyfile.json

# Database (Supabase)
DATABASE_URL=sua_url_do_supabase_aqui

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000 